.hero
  position: relative

  h1.title
    font-size: 4rem
    line-height: 1.12
    font-weight: 600
  h3
    font-size: 1.8rem

  .hero-overlay
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: rgba(0,0,0,0.5)

  .text-col 
    padding-right: 70px