section.default-section
  h2
    font-size: 36px
    font-weight: 700
    margin-bottom: 50px
  h5
    font-weight: 600
    font-size: 18px
    margin: 32px 0 16px 0

.users-list-container 
  margin-top: 20px

  .row
    justify-content: center

.feature-column
  margin: 2rem 0
  .feature-icon
    max-width: 110px
    margin: 0 auto