.home-section 
  position: relative

  &.hero 
    height: 800px
    background-position: center
    background-repeat: no-repeat
    background-size: cover

    .hero-body
      display: flex
      align-items: center

.dark-overlay
  background-color: rgba(0,0,0,0.5)