section 
  position: relative
  min-height: 60vh
  padding: 5rem 0  
  background-size: cover
  background-repeat: no-repeat
  background-position: center

  &.hero
    padding: 15rem 0

  .section-title
    margin-bottom: 40px

  .cta-section
    margin-top: 5rem

  .btn
    padding-left: 3rem
    padding-right: 3rem

  &.platform-cta
    padding-top: 3rem !important
    padding-bottom: 3rem !important
    min-height: inherit
    padding: 0
    background-color: $primary
    color: #fff

    h2 
      font-size: 2.4rem

    .btn:hover
      color: $primary

@include media-breakpoint-down(md)
  section
    padding: 5rem 0
  section.hero
    padding: 5rem 0

    .form-card
      display: none